<h1>fresh workout</h1>

<%= render 'head_divider' %>

number of exercises: 
<%= link_to 'one', generator_path(num_ex: '1') %> / 
<%= link_to 'two', generator_path(num_ex: '2') %> / 
<%= link_to 'three', generator_path(num_ex: '3') %> / 
<%= link_to 'four', generator_path(num_ex: '4') %> / 
<%= link_to 'five', generator_path(num_ex: '5') %> 

<%= render 'head_divider' %>

<% @generator.each do |ex| %>
  <h2> <%= ex.name %> </h2>
  <% if @descr == 'on'%>
    <div class='ex-description'> <%= ex.description %> </div>
    <%= render 'divider' %>
  <% end %>
<% end %>

<% if @x != 0 && @descr.nil? || @descr == 'off'%>
  <%= link_to 'turn descriptions on', generator_path(descr: 'on', num_ex: @x) %>
  <%= render 'head_divider' %>
<% end %>
<% if @x != 0 && @descr == 'on'%>
  <%= link_to 'turn descriptions off', generator_path(descr: 'off', num_ex: @x) %>
  <%= render 'head_divider' %>
<% end %>

<% if session[:user_id].nil? %>
  <%= link_to 'sign up', signup_path %> to save your workouts.
<% end %>

<% if !session[:user_id].nil? && @x != 0 %>
  <%= form_for :workout, url: workouts_path do |f| %>
    <%= f.label :name %>:
    <%= f.text_field :name, class: "name_field" %>
    <%= f.submit 'Save this Workout', class: 'submit-button' %>
    <%= hidden_field_tag 'exs[]', @ids %>
    <%= hidden_field_tag 'user_id', current_user.id %>
  <% end %>
  <%= render 'head_divider' %>
<% end %>



<%= link_to 'all saved workouts', workouts_path %>