<h1><%= @workout.name %></h1>
<%= render 'head_divider' %>

<% @workout.exercises.each do |ex| %>
  <div>
    <%= link_to "#{ex.name}", exercise_path(ex.id) %>
    <% if @workout.user == current_user && !current_user.nil? %>
      / <%= link_to 'delete', workout_path(@workout, remove: ex.id) %>
    <% end %>
  </div>
<% end %>

<% if @workout.user == current_user && !current_user.nil? %>
  <%= render 'head_divider' %>
  <%= link_to 'add an exercise', edit_workout_path(@workout) %>
  <%= render 'divider' %>
  <%= link_to 'delete workout', workout_path(@workout), method: :delete %>
<% end %>

<br><br><br>

<%= link_to 'all workouts', workouts_path, class: 'nav_link' %>
<br><br><br>
<% if !@workout.user.nil? %>
  Saved by:  <%= @workout.user.username %>
<% end %>