<h1><%= @workout.name %></h1>

<% @workout.exercises.each do |ex| %>
  <div>
    <%= link_to "#{ex.name}", exercise_path(ex.id) %>
    <% if @workout.user == current_user && !current_user.nil? %>
      / <%= link_to 'delete', exercise_path(ex) %>
    <% end %>
  </div>
<% end %>

<%= render 'divider' %>

<% if @workout.user == current_user && !current_user.nil? %>
  <%= link_to 'add an exercise', edit_workout_path(@workout) %>
<% end %>

<br><br>

<% if !@workout.user.nil? %>
  Saved by:  <%= @workout.user.username %>
<% end %>