<h1><%= @workout.name %></h1>
<%= render 'head_divider' %>

<%= render 'tabata_instructions' %>

<% @workout.exercises.each do |ex| %>
  <div class='workout_list'>
    <h2 class='workout_ex'><%= link_to "#{ex.name}", exercise_path(ex.id) %></h2>
    <% if @workout.user == current_user && !current_user.nil? %>
      <%= link_to 'delete', workout_path(@workout, remove: ex.id), class: 'small_link' %>
    <% end %>
  </div>
<% end %>

<% if @workout.user == current_user && !current_user.nil? %>
  <%= render 'head_divider' %>
  <%= link_to 'add an exercise', edit_workout_path(@workout) %>
  <%= render 'divider' %>
  <%= link_to 'delete workout', workout_path(@workout), method: :delete, :onclick => 'alert("Are you sure?")' %>
<% end %>

<%= render 'head_divider' %>

<h2><%= link_to 'i just did this workout like a boss', workout_completed_path(@workout) %></h2>

<%= render 'head_divider' %>

<br><br><br>

<%= link_to 'all workouts', workouts_path, class: 'nav_link' %>
<br><br><br>
<% if !@workout.user.nil? %>
  Saved by:  <%= @workout.user.username %>
<% end %>