<h1>login</h1>

<%= render 'head_divider' %>

<div id="login">
  <%= form_for :session, url: login_path do |f| %>
    <%=f.label :username %>:
    <%=f.text_field :username %><br>
    <%=f.label :password %>:
    <%=f.password_field :password %><br>
    <%=f.submit "Log In", class: 'submit-button' %>
  <%end%>
</div>


<p>New user? <%= link_to "Sign up now!", signup_path %></p>