<h1>Sign Up</h1>

<%= render 'head_divider' %>

<%=form_for @user do |f| %>
  <%=f.label :username %>:
  <%=f.text_field :username %><br>
  <%=f.label :password %>:
  <%=f.password_field :password %><br>
  <%=f.label :password_confirmation %>:
  <%=f.password_field :password_confirmation %><br>
  <%=f.submit "Sign Up", class: 'submit-button' %>
<%end%>