<h1> Welcome, y'all </h1>

<%= link_to 'Log In', login_path %>

<%= link_to 'Sign Up!', signup_path %> <br>


<%= link_to 'Users', users_path %> <br>

<%= link_to 'Exercises', exercises_path %> <br>

<%= link_to 'Workouts', workouts_path %> <br>5


