<%= form_for :exercise, url: url do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name, class: "name_field" %><br><br>
  <%= f.label :body_focus %>
  <%= f.select :body_focus, options_for_select(['all', 'core', 'upper body', 'lower body']) %><br><br>
  <div class= 'text_area_label'><%= f.label :description, 'Description' %>:</div>
  <%= f.text_area :description %><br><br>
  <%= f.submit 'submit', class: 'submit-button' %>
<% end %>