<div id="nav_bar">
  <% if session[:user_id].nil? %>
    <%= link_to 'Log In', login_path %> /
    <%= link_to 'Sign Up', signup_path %> / 
  <% end %>
  <% if !session[:user_id].nil? %>
    <%= link_to 'Log Out', logout_path %> / 
    <%= link_to 'Profile', user_path(User.find(session[:user_id])) %> / 
  <% end %>
  <%= link_to 'Workout Generator', generator_path %> / 
  <%= link_to 'Add Exercise', new_exercise_path %>
</div>