<h1><%= @exercise.name %></h1>

<div class="description"><%= @exercise.description %></div>

<% if @exercise.user == current_user %>

<%= render 'divider' %>

  <%= link_to 'edit', edit_exercise_path(@exercise) %> /
  <%= link_to 'delete', exercise_path(@exercise), method: :delete %>

<% end %>

<%= render 'divider' %>

<%= link_to 'all exercises', exercises_path %>